@import url("https://fonts.googleapis.com/css2?family=Elsie:wght@900&family=Roboto&display=swap");
@font-face {
  font-family: "Natasha";
  src: url(/assets/fonts/Natasha.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  font-family: "Natasha";
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3rem;
  color: #679FDB;
  margin-bottom: 2%;
}

img {
  width: 100%;
}

h3 {
  font-family: "Natasha";
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3rem;
  color: #679FDB;
  text-align: center;
  padding-top: 1.8%;
  color: #F09D74;
}

p,
ul {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 2rem;
  color: #696969;
}

.header__wave {
  background-image: url("../../images/imgSleep/img/wave-yellow (3).svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 35vh;
  font-family: "M PLUS Rounded 1c", sans-serif;
  height: 37vh;
}
.header__wave .header__nav {
  display: flex;
  justify-content: space-around;
  padding-top: 1%;
}
.header__wave a {
  text-decoration: none;
  color: antiquewhite;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 600;
}
.header__wave a:hover,
.header__wave a:focus {
  color: #696969;
  outline: none;
}

.container__information-mirror {
  width: 100%;
  display: grid;
  grid-template-columns: auto 30%;
  grid-template-rows: 40% auto;
  gap: 20px;
  padding: 4%;
}
.container__information-mirror .important {
  display: grid;
  border-radius: 10px;
  align-items: center;
  padding-left: 20px;
  justify-content: center;
  background-color: #abd3be;
}
.container__information-mirror .important h2 {
  font-size: 20px;
}
.container__information-mirror .title {
  display: grid;
  padding: 30px;
}
.container__information-mirror .part-first {
  display: grid;
  align-items: center;
  justify-content: center;
}
.container__information-mirror .part-second {
  display: grid;
  align-items: center;
  padding: 40px;
  text-align: justify;
  background-color: #FFFACD;
  border-radius: 10px;
}

.container__information-last {
  width: 100%;
  display: grid;
  grid-template-columns: auto 30%;
  grid-template-rows: 1fr auto;
  gap: 20px;
  padding: 4%;
  margin-top: 50px;
}
.container__information-last .important {
  width: 100%;
  display: grid;
  background-color: #1D6DB6;
  border-radius: 10px;
  align-items: center;
  padding: 20px;
  justify-content: center;
}
.container__information-last .important h2 {
  color: #E0F1F3;
  font-size: 20px;
}
.container__information-last .title {
  width: 100%;
  display: grid;
  justify-content: center;
  padding: 30px;
}
.container__information-last .part-first {
  display: grid;
  justify-content: center;
  align-items: center;
}
.container__information-last .part-first img {
  width: 100%;
}
.container__information-last .part-second {
  width: 100%;
  padding: 30px;
  text-align: center;
  display: grid;
  align-items: center;
  background-color: #FFFACD;
  border-radius: 10px;
}

.footer {
  justify-content: center;
  background-image: url("../../images/imgSleep/img/wave (21).svg");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 35vh;
  color: #FFFACD;
  font-family: "M PLUS Rounded 1c", sans-serif;
  padding-bottom: 1%;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  height: 38vh;
}
.footer img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 250px) and (max-width: 1350px) {
  h1,
h2 {
    font-size: 24px;
  }
  p {
    font-size: 12px;
  }
  img {
    width: 80%;
  }
  .header__wave {
    height: 25vh;
  }
  .container__information-first {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 4%;
  }
  .container__information-mirror {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .container__information-last {
    display: flex;
    flex-direction: column;
  }
  .footer {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */